@font-face {
    font-family: 'nastaligh';
    src: url('src/IranNastaliq.woff2') format('woff2'),
        url('src/IranNastaliq.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}